/* Make the sidebar slightly bigger */

/* @media (min-width: 992px) { */

.bd-sidebar-primary {
    flex-basis: 30%
}


@media (min-width: 820px) {
    .bd-sidebar-primary {
        flex-basis: 22%
    }
}

/* Change the wrapping of code snippets */

.modulename > span {
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    word-wrap: normal;
    display: inline-block;
}


/* Make headlines smaller. See pydata customization options for a reference. */

@import "../basics.css";

:root {
    --pst-font-size-h1: 32px;
    --pst-font-size-h2: 28px;
    --pst-font-size-h3: 21px;
    --pst-font-size-h4: 16px;
    --pst-font-size-h5: 14px;
    --pst-font-size-h6: 12px;
    --pst-font-size-base: 10px;
}

